@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply px-7;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .glass {
    @apply bg-white bg-opacity-20;
  }
  .glass-hover {
    @apply hover:bg-opacity-30;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .position-unset {
    position: unset !important;
  }
}
